- content_for :title do
  U-learning
  \|
  = @subscription
.card
  .card-header
    %h1 
      .text-warning.fa.fa-star
      Add a Review
  .card-body
    = render 'form'
  .card-footer
    = link_to 'This subscription', @subscription
    \|
    = link_to 'Back to Courses', courses_path





