- content_for :title do
  U-learning
  \|
  = @subscription
.card
  .card-header
    %h1 
      .fa.fa-unlock
      Editing subscription
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @subscription
    \|
    = link_to 'Back', subscriptions_path





