- content_for :title do
  ULearning
  \|
  New Course
%div.w-50.mx-auto
.card
  .card-header
    %h1 
      .fa.fa-graduation-cap
      New course
  .card-body
    = render 'form'
= link_to 'Back', courses_path
