@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";

.form-control.is-invalid { background-image: none;}
.form-control.is-valid { background-image: none;}

.grid-system {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

body {
  margin-bottom: 10rem;
}

.sticker {
  z-index: -1;
}

.general-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 25rem;
  z-index: 3;
}

.texter {
  text-align: right;
}

.former {
  outline: none;
}

.aligner {
  text-align: right;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

@media screen and (max-width: 765px){
  .grid-system,
  .grid2
   { 
     grid-template-columns:  1fr;
    }
}