
%footer.bg-dark.text-white.p-3.general-footer.text-center
  .container
    .row
      .col-md-4
        Copyright
        .fa.fa-copyright
        = Time.now.year
        .badge.bg-success
          HenryHaulka
        .row.pt-2
          .fa.fa-envelope
            onuhenry24@gmail.com
      .col-md-4
        Privacy Policy
        .row
        Terms and Conditions
      .col-md-4
        About us
            

    